<div class="panel panel-primary" style="width:100%" [style.height]="height+'px'">
	<div class="panel-heading" style="height:100%;width:100%">
		<table style="width:100%">
			<tr>
				<td *ngFor="let stat of stats" [style.width]="((100-(stats.length+1)*3)/stats.length)+'%'">
                    <div class="stat-div" [style.height]="height-22+'px'" >
                        <div class="striped-bg {{fakeLinkClass}}" [style.width]="'100%'" [style.height]="'100%'" 
                        (click)="onChartClick(stat['metrics'], stat['title'])">
                            <div >
                                <b style="font-size: 22px !important;margin-left:5px;">{{appendValueWithUnit(stat['stat'], stat['unit'])}} </b>
                            </div>
                            <div class="stat-bottom-right">
                                <div>{{stat['title']}} </div>
                            </div>

                        </div>
                    </div>
                    
                </td>
            </tr>
        </table>

    </div>
</div>